<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="formula_blog" frontName="formula_blog">
            <module name="Formula_Blog" before="Magento_Backend" />
        </route>
    </router>
</config>
