# Magento specific
/src/generated/*
/src/pub/static/*
/src/var/*
/src/vendor/*
/src/app/etc/env.php
/src/app/etc/config.php

# Environment files
.env
auth.json

# Docker volumes
dbdata/
esdata/

# System files
.DS_Store
# Ignore Magento media
src/pub/media/
