<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Add these preference declarations -->
	<preference for="Formula\HairConcern\Api\HairConcernRepositoryInterface" type="Formula\HairConcern\Model\HairConcernRepository" />
	<preference for="Formula\HairConcern\Api\Data\HairConcernInterface" type="Formula\HairConcern\Model\HairConcern" />
	<!-- Add Plugin for Product Repository -->
	<type name="Magento\Catalog\Api\ProductRepositoryInterface">
		<plugin name="formula_hairconcern_product_repository" type="Formula\HairConcern\Plugin\ProductRepositoryPlugin" />
	</type>
	<type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
		<plugin name="formula_hairconcern_data_provider" type="Formula\HairConcern\Plugin\ProductDataProviderPlugin" />
	</type>
	
	<!-- Configuration for HairConcern Save controller -->
	<type name="Formula\HairConcern\Controller\Adminhtml\HairConcern\Save">
		<arguments>
			<argument name="jsonSerializer" xsi:type="object">
				Magento\Framework\Serialize\Serializer\Json
			</argument>
		</arguments>
	</type>
	<!-- Configuration for HairConcern DataProvider -->
	<type name="Formula\HairConcern\Model\HairConcern\DataProvider">
		<arguments>
			<argument name="jsonSerializer" xsi:type="object">
				Magento\Framework\Serialize\Serializer\Json
			</argument>
		</arguments>
	</type>
	<!-- Configure Grid Collection for UI Component -->
	<virtualType name="FormulaHairConcernGridCollection" type="Formula\HairConcern\Model\ResourceModel\HairConcern\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">hairconcern_details</argument>
			<argument name="eventPrefix" xsi:type="string">formula_hairconcern_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">hairconcern_grid_collection</argument>
			<argument name="resourceModel" xsi:type="string">Formula\HairConcern\Model\ResourceModel\HairConcern</argument>
		</arguments>
	</virtualType>
	<!-- Configure UI Component Data Provider -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="formula_hairconcern_listing_data_source" xsi:type="string">
					FormulaHairConcernGridCollection
				</item>
			</argument>
		</arguments>
	</type>
	<!-- Configuration for image types -->
	<virtualType name="Formula\HairConcern\HairConcernImageUploader" type="Formula\HairConcern\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">
				hairconcern/tmp/logo
			</argument>
			<argument name="basePath" xsi:type="string">
				hairconcern/logo
			</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">
					jpg
				</item>
				<item name="jpeg" xsi:type="string">
					jpeg
				</item>
				<item name="gif" xsi:type="string">
					gif
				</item>
				<item name="png" xsi:type="string">
					png
				</item>
			</argument>
		</arguments>
	</virtualType>
</config>
