<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Formula_CategoryBentoBanners::category_bento_banners" title="Category Bento Banners" module="Formula_CategoryBentoBanners" sortOrder="60" parent="Magento_Catalog::catalog" action="categorybentobanner/categorybentobanner" resource="Formula_CategoryBentoBanners::category_bento_banners"/>
    </menu>
</config>