<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Add these preference declarations -->
	<preference for="Formula\SkinConcern\Api\SkinConcernRepositoryInterface" type="Formula\SkinConcern\Model\SkinConcernRepository" />
	<preference for="Formula\SkinConcern\Api\Data\SkinConcernInterface" type="Formula\SkinConcern\Model\SkinConcern" />
	<!-- Add Plugin for Product Repository -->
	<type name="Magento\Catalog\Api\ProductRepositoryInterface">
		<plugin name="formula_skinconcern_product_repository" type="Formula\SkinConcern\Plugin\ProductRepositoryPlugin" />
	</type>
	<type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
		<plugin name="formula_skinconcern_data_provider" type="Formula\SkinConcern\Plugin\ProductDataProviderPlugin" />
	</type>
	
	<!-- Configuration for SkinConcern Save controller -->
	<type name="Formula\SkinConcern\Controller\Adminhtml\SkinConcern\Save">
		<arguments>
			<argument name="jsonSerializer" xsi:type="object">
				Magento\Framework\Serialize\Serializer\Json
			</argument>
		</arguments>
	</type>
	<!-- Configuration for SkinConcern DataProvider -->
	<type name="Formula\SkinConcern\Model\SkinConcern\DataProvider">
		<arguments>
			<argument name="jsonSerializer" xsi:type="object">
				Magento\Framework\Serialize\Serializer\Json
			</argument>
		</arguments>
	</type>
	<!-- Your existing configuration -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="formula_skinconcern_listing_data_source" xsi:type="string">
					Formula\SkinConcern\Model\ResourceModel\SkinConcern\Grid\Collection
				</item>
			</argument>
		</arguments>
	</type>
	<!-- Configuration for image types -->
	<virtualType name="Formula\SkinConcern\SkinConcernImageUploader" type="Formula\SkinConcern\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">
				skinconcern/tmp/logo
			</argument>
			<argument name="basePath" xsi:type="string">
				skinconcern/logo
			</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">
					jpg
				</item>
				<item name="jpeg" xsi:type="string">
					jpeg
				</item>
				<item name="gif" xsi:type="string">
					gif
				</item>
				<item name="png" xsi:type="string">
					png
				</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="Formula\SkinConcern\SkinConcernBannerUploader" type="Formula\SkinConcern\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">
				skinconcern/tmp/banner
			</argument>
			<argument name="basePath" xsi:type="string">
				skinconcern/banner
			</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">
					jpg
				</item>
				<item name="jpeg" xsi:type="string">
					jpeg
				</item>
				<item name="gif" xsi:type="string">
					gif
				</item>
				<item name="png" xsi:type="string">
					png
				</item>
			</argument>
		</arguments>
	</virtualType>
</config>
