<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="formula" translate="label" sortOrder="100">
            <label>Formula</label>
        </tab>
        <section id="formula_discount" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Discount Percentage</label>
            <tab>formula</tab>
            <resource>Formula_DiscountPercentage::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="debug_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable this to see detailed logs about discount percentage calculation.</comment>
                </field>
            </group>
        </section>
    </system>
</config>