<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="formula_gender_product_collection" type="Formula\Gender\Plugin\ProductCollectionPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <plugin name="formula_gender_product_data_provider" type="Formula\Gender\Plugin\ProductDataProviderPlugin" sortOrder="1"/>
    </type>
</config>