<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="formula" translate="label" sortOrder="200">
            <label>Formula</label>
        </tab>

        <section id="shadowfax" translate="label" type="text" sortOrder="60"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>ShadowFax Configuration</label>
            <tab>formula</tab>
            <resource>Formula_Shadowfax::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable ShadowFax Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/disable ShadowFax as a delivery partner</comment>
                </field>

                <field id="api_base_url" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Base URL</label>
                    <comment><![CDATA[ShadowFax API base URL (e.g., https://api.shadowfax.in)]]></comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="api_token" translate="label comment" type="obscure" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Your ShadowFax API access token]]></comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="client_name" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Name</label>
                    <comment><![CDATA[Client identifier registered with ShadowFax]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="pickup_location" translate="label comment" type="text" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pickup Location Name</label>
                    <comment><![CDATA[Pickup location name as configured in ShadowFax dashboard]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="pickup_postcode" translate="label comment" type="text" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pickup Postcode</label>
                    <comment>Postcode from where shipments will be picked up</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="pickup_phone" translate="label comment" type="text" sortOrder="61"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pickup Contact Phone</label>
                    <comment>Contact phone number at the pickup location (sent in shipment manifest)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="pickup_address" translate="label comment" type="text" sortOrder="62"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pickup Street Address</label>
                    <comment>Street address of the pickup location (sent in shipment manifest)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="pickup_city" translate="label comment" type="text" sortOrder="63"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pickup City</label>
                    <comment>City of the pickup location (sent in shipment manifest)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="pickup_state" translate="label comment" type="text" sortOrder="64"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pickup State</label>
                    <comment>State of the pickup location (sent in shipment manifest)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhook Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Secret used to authenticate ShadowFax tracking webhook calls]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="debug_mode" translate="label comment" type="select" sortOrder="80"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable detailed logging for ShadowFax API calls (logs to var/log/system.log)</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
