<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Formula\Shadowfax\Api\ShadowfaxWebhookInterface" type="Formula\Shadowfax\Model\ShadowfaxWebhook"/>

    <!-- Register this adapter into the neutral Formula_DeliveryPartner resolver's partner map -->
    <type name="Formula\DeliveryPartner\Model\DeliveryPartnerResolver">
        <arguments>
            <argument name="partners" xsi:type="array">
                <item name="shadowfax" xsi:type="object">Formula\Shadowfax\Model\DeliveryPartner\ShadowfaxDeliveryPartner</item>
            </argument>
        </arguments>
    </type>
</config>
