<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Formula_SkinType::content_elements"
             title="Formula SkinType Page"
             translate="title"
             module="Formula_SkinType"
             sortOrder="10"
             parent="Magento_Backend::content"
             resource="Magento_Backend::admin"/>
        <add id="Formula_SkinType::post"
            title="SkinTypes"
            translate="title"
            module="Formula_SkinType"
            sortOrder="0"
            parent="Formula_SkinType::content_elements"
            action="formula_skintype/skintype" 
            resource="Magento_Backend::admin"/>
    </menu>
</config>
