<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Integration\Model\CustomerTokenService">
        <plugin name="formula_refresh_token_plugin"
                type="Formula\RefreshToken\Plugin\CustomerTokenPlugin" />
    </type>

    <preference for="Formula\RefreshToken\Api\RefreshTokenRepositoryInterface"
                type="Formula\RefreshToken\Model\RefreshTokenRepository"/>
</config>
