<?xml version="1.0"?>
<!-- app/code/Formula/CategoryBanners/etc/di.xml -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Repository preferences -->
	<preference for="Formula\CategoryBanners\Api\Data\CategoryBannerInterface" type="Formula\CategoryBanners\Model\CategoryBanner" />
	<preference for="Formula\CategoryBanners\Api\CategoryBannerRepositoryInterface" type="Formula\CategoryBanners\Model\CategoryBannerRepository" />
	<preference for="Formula\CategoryBanners\Api\BannerImageUploaderInterface" type="Formula\CategoryBanners\Model\BannerImageUploader" />
	<preference for="Formula\CategoryBanners\Api\Data\SubcategoryInterface" type="Formula\CategoryBanners\Model\Subcategory" />
	<!-- Data providers -->
	<type name="Formula\CategoryBanners\Model\Uploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">
				formula/tmp/categorybanner
			</argument>
			<argument name="basePath" xsi:type="string">
				formula/categorybanner
			</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">
					jpg
				</item>
				<item name="jpeg" xsi:type="string">
					jpeg
				</item>
				<item name="gif" xsi:type="string">
					gif
				</item>
				<item name="png" xsi:type="string">
					png
				</item>
			</argument>
		</arguments>
	</type>
	<!-- Add repository as a shared instance -->
	<type name="Formula\CategoryBanners\Model\CategoryBannerRepository">
		<arguments>
			<argument name="resource" xsi:type="object">
				Formula\CategoryBanners\Model\ResourceModel\CategoryBanner
			</argument>
			<argument name="categoryBannerFactory" xsi:type="object">
				Formula\CategoryBanners\Model\CategoryBannerFactory
			</argument>
			<argument name="categoryBannerCollectionFactory" xsi:type="object">
				Formula\CategoryBanners\Model\ResourceModel\CategoryBanner\CollectionFactory
			</argument>
			<argument name="dateTime" xsi:type="object">
				Magento\Framework\Stdlib\DateTime\DateTime
			</argument>
			<argument name="categoryCollectionFactory" xsi:type="object">
				Magento\Catalog\Model\ResourceModel\Category\CollectionFactory
			</argument>
			<argument name="subcategoryFactory" xsi:type="object">
				Formula\CategoryBanners\Model\SubcategoryFactory
			</argument>
		</arguments>
	</type>
	<type name="Formula\CategoryBanners\Controller\Adminhtml\CategoryBanner\Subcategories">
		<arguments>
			<argument name="resultJsonFactory" xsi:type="object">
				Magento\Framework\Controller\Result\JsonFactory
			</argument>
			<argument name="categoryCollectionFactory" xsi:type="object">
				Magento\Catalog\Model\ResourceModel\Category\CollectionFactory
			</argument>
		</arguments>
	</type>
	<virtualType name="Magento\Ui\Component\Form\Field\ElementPool">
		<arguments>
			<argument name="elements" xsi:type="array">
				<item name="categoryTree" xsi:type="string">
					Formula\CategoryBanners\Ui\Component\Form\Element\CategoryTree
				</item>
			</argument>
		</arguments>
	</virtualType>
</config>