<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Add these preference declarations -->
	<preference for="Formula\SkinType\Api\SkinTypeRepositoryInterface" type="Formula\SkinType\Model\SkinTypeRepository" />
	<preference for="Formula\SkinType\Api\Data\SkinTypeInterface" type="Formula\SkinType\Model\SkinType" />
	<!-- Add Plugin for Product Repository -->
	<type name="Magento\Catalog\Api\ProductRepositoryInterface">
		<plugin name="formula_skintype_product_repository" type="Formula\SkinType\Plugin\ProductRepositoryPlugin" />
	</type>
	<type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
		<plugin name="formula_skintype_data_provider" type="Formula\SkinType\Plugin\ProductDataProviderPlugin" />
	</type>
	
	<!-- Configuration for SkinType Save controller -->
	<type name="Formula\SkinType\Controller\Adminhtml\SkinType\Save">
		<arguments>
			<argument name="jsonSerializer" xsi:type="object">
				Magento\Framework\Serialize\Serializer\Json
			</argument>
		</arguments>
	</type>
	<!-- Configuration for SkinType DataProvider -->
	<type name="Formula\SkinType\Model\SkinType\DataProvider">
		<arguments>
			<argument name="jsonSerializer" xsi:type="object">
				Magento\Framework\Serialize\Serializer\Json
			</argument>
		</arguments>
	</type>
	<!-- Your existing configuration -->
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="formula_skintype_listing_data_source" xsi:type="string">
					Formula\SkinType\Model\ResourceModel\SkinType\Grid\Collection
				</item>
			</argument>
		</arguments>
	</type>
	<!-- Configuration for image types -->
	<virtualType name="Formula\SkinType\SkinTypeImageUploader" type="Formula\SkinType\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">
				skintype/tmp/logo
			</argument>
			<argument name="basePath" xsi:type="string">
				skintype/logo
			</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">
					jpg
				</item>
				<item name="jpeg" xsi:type="string">
					jpeg
				</item>
				<item name="gif" xsi:type="string">
					gif
				</item>
				<item name="png" xsi:type="string">
					png
				</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="Formula\SkinType\SkinTypeBannerUploader" type="Formula\SkinType\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">
				skintype/tmp/banner
			</argument>
			<argument name="basePath" xsi:type="string">
				skintype/banner
			</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">
					jpg
				</item>
				<item name="jpeg" xsi:type="string">
					jpeg
				</item>
				<item name="gif" xsi:type="string">
					gif
				</item>
				<item name="png" xsi:type="string">
					png
				</item>
			</argument>
		</arguments>
	</virtualType>
</config>
