<?xml version="1.0"?>
<!--
/**
 * Copyright © Formula. All rights reserved.
 *
 * Custom category_id filter processor to fix pagination/total_count issues
 * when using IN condition with multiple category IDs
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Register custom filter processor for category_id field -->
    <virtualType name="Magento\Catalog\Model\Api\SearchCriteria\CollectionProcessor\ProductFilterProcessor">
        <arguments>
            <argument name="customFilters" xsi:type="array">
                <item name="category_id" xsi:type="object">
                    Formula\ProductCategoryFilter\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor\ProductCategoryFilter
                </item>
            </argument>
        </arguments>
    </virtualType>

</config>
