<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <walletpayment>
                <active>1</active>
                <model>Formula\Wallet\Model\Payment\WalletPayment</model>
                <title>Wallet Payment</title>
                <order_status>processing</order_status>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_use_for_multishipping>0</can_use_for_multishipping>
            </walletpayment>
        </payment>
        <!-- Wallet balance and security limits -->
        <formula_wallet>
            <limits>
                <enable_limits>1</enable_limits>
                <max_balance>1000000</max_balance><!-- 10 Lakhs -->
                <max_transaction>100000</max_transaction><!-- 1 Lakh -->
            </limits>
            <security>
                <enable_idempotency>1</enable_idempotency>
                <idempotency_ttl>3600</idempotency_ttl><!-- 1 hour -->
            </security>
        </formula_wallet>
    </default>
</config>